/layout-1/_site/
/layout-1/photos/
/layout-1/node_modules/
/layout-1/*.zip
/layout-1/unsplash/*.tsv*
/layout-1/unsplash/README.md
/layout-1/unsplash/TERMS.md

/layout-2/_site/
/layout-2/photos/
/layout-2/node_modules/
/layout-2/*.zip
/layout-2/unsplash/*.tsv*
/layout-2/unsplash/README.md
/layout-2/unsplash/TERMS.md
