<!DOCTYPE html>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="{{ '/styles/tailwind.css' | url }}">
<link rel="stylesheet" href="{{ '/styles/main.css' | url }}">

<html lang="en">

	<head>
		<title>{{ title }} - {{ site }}</title>
		{% if color_keyword == "black"%}
			<style>
				.wrap_left {
					color: white;
				}
			</style>
		{% endif %}
	</head>

	<body style="background-color: {{ color_keyword }};">
		{{ content }}
	</body>

</html>
