---
site: Pet Photos
layout: base
---

<div class="page_header">
    <h1>{{ site }}</h1>

    {% unless page.url == '/' %}
        <a href="{{ '/' | url }}">Home</a>
    {% endunless %}
</div>

<div class="picture_content">
    {{ content }}
    <br>
    <div class="picture_info">
        {% if page.url != '/about/' %}   			
        <b>Name</b>: {{ photographer_first_name }} {{ photographer_last_name }}
            &emsp;
        <b>Views</b>: {{ stats_views }}
            <br>
        <b>Size</b>: {{ photo_height }} x {{ photo_width }}
                &emsp;		
        <b>Downloads</b>: {{ stats_downloads }}
            <br><br>
        {% if photo_location_latitude == '' %}
            Map Data Unavailable
        {% else %}
            <img id="static_map" src="https://api.mapbox.com/styles/v1/mapbox/light-v10/static/{{photo_location_longitude}},{{photo_location_latitude}},14/500x300?access_token=pk.eyJ1Ijoic2NvdHRwYXJrNDQiLCJhIjoiY2tyNXNubThsMzhocTJvdDk5a3ZsMGFhMCJ9.gSYg1ze4cd9dItEiNjfpRg">
        {% endif %}
            <br><br>
        <small><i>{{ ai_description }}</i></small>
        {% endif %}
    </div>
    
</div>


<div class="pet_photo">
    <p>
        More Pet Photos Here:
    </p>
    <ul>
        {% for photo in collections.photos %}
            <li>
                <a href="{{ photo.url | url }}">
                    A {{ photo.data.photo_keyword }} photo
                    by {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    
</div>

